<title>积分兑换 - {:config('conf.title')}</title>
<div class="bg-bai b rx3">
    <div class="t-v t-t">
        <div class="c-sidebar c-sidebar-h pb5 br">
            <div class="c-sidebar-title t-v hui bb">福利中心</div>
            <ul class="c-nav click-nav">
                <li>
                    <a href="/other/sign.html" class="t-v" data-pjax>
                        <div><i class="icon icon-write"></i></div>
                        <div>每日签到</div>
                    </a>
                </li>
                <li>
                    <a href="/other/invite.html" class="t-v" data-pjax>
                        <div><i class="icon icon-present"></i></div>
                        <div>推广有礼</div>
                    </a>
                </li>
                <li class="active">
                    <a href="/other/redeem.html" class="t-v" data-pjax>
                        <div><i class="icon icon-duijie"></i></div>
                        <div>积分兑换</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="c-content bl">
            <div class="col-6 fl br" style="min-height:420px;">
                <div class="g-title t-v pl4 bb">
                    <div class="col-12 h t-v bold">积分兑换 <span class="ml5 nobold f3 hui">拥有积分：<font id="score" class="f5 hong mr2">{:session('user.score')}</font>个</span></div>
                </div>
                <div class="g-content p5 f3 hui bb">
                    <p>1、积分可通过<a class="lan bold" href="javascript:;" onclick="mode_sign();">每日签到</a> <a class="lan bold" href="javascript:;" onclick="mode_invite();">推广有礼</a>获取。</p>
                    <p>2、兑换后系统自动开通相应业务！</p></div>
                <div class="g-content in-list in-b in-bb">
                    {foreach $list as $key=>$vo}
                    <dl class="in p4" onclick="redeem({$key});">
                        <dt><i class="icon icon-vip lv f12 mr4"></i></dt>
                        <dd><p>{$vo.name} <font class="ml4 hong">[{$vo.score}积分]</font></p>
                            <p class="f3 hui">兑换后增加{$vo.name}天VIP时长，多次兑换可叠加</p></dd>
                        <dt><i class="icon icon-pright hui"></i></dt>
                    </dl>
                    {/foreach}
                </div>
            </div>
            <div class="col-6 fl bl" style="margin-left:-1px;">
                <div class="g-title t-v pl4 bb">
                    <div class="col-12 h t-v bold">兑换记录 <font class="ml5 f3 hui nobold">共有&nbsp;<span
                            class="index_selcount">0</span>&nbsp;条&nbsp;/&nbsp;<span class="index_selpages">1</span>&nbsp;页</font>
                        <select class="f3 index_selpagenum hide" onchange="page.setnum(this,'page','index')">
                            <option value="0" selected="selected">10</option>
                        </select></div>
                </div>
                <div class="g-content in-list in-p in-b" id="dhlistbody"></div>
            </div>
        </div>
    </div>
    <div class="c-pagination o-h t-v">
        <div class="c-sidebar"></div>
        <div class="c-content h11 o-h g-btn t-v bt bl">
            <div class="col-6 h t-v f3 hui pl5 pr5"></div>
            <div class="col-6 h no g-btn g-minhide t-v t-c">
                <button class="btn btn-bai min" onclick="page.btn('first','index',index_page_html)">首页</button>
                <button class="btn btn-bai min syy" onclick="page.btn('up','index',index_page_html)">上一页</button>
                <div class="w16 t-c hui f4 bold">第 <span class="index_selpage">1</span> 页</div>
                <button class="btn btn-bai min xyy" onclick="page.btn('down','index',index_page_html)">下一页</button>
                <button class="btn btn-bai min" onclick="page.btn('final','index',index_page_html)">尾页</button>
            </div>
        </div>
    </div>
</div>
<script>
    function load_dhlist_html(l) {
        l = l || 0;
        var p = page.getpage();
        x.gethtml('/other/redeemLogHtml.html?page=' + p, 'dhlistbody', l);

    }

    $(function ($) {
        load_dhlist_html(2);
    });

    function index_page_html() {
        load_dhlist_html(0);
    }

    function redeem(id){
        x.loading();
        $.ajax({
            url: "/other/redeemAjax.html",
            type: "POST",
            data: {
                'id': id
            },
            datatype: "json",
            success: function (ret) {
                x.mclose();
                load_dhlist_html(2);
                if (ret.code === 1) {
                    x.btn('兑换成功',ret.message);
                    $('#score').text(ret.data['score']);
                } else {
                    x.btn('兑换失败',ret.message);
                }
            }
        });
    }
</script>