{foreach $list as $value}
<dl>
    <dt><img class="w9 h9 b r5 mr3" src="//q4.qlogo.cn/headimg_dl?dst_uin={$value.qq}&spec=40"></dt>
    <dd><p class="f3 hong"><i class="icon icon-my"></i> {$value.nickname}</p>
        <p class="f3 hui">花费 {$value.score} 积分兑换了 <font class="lv">{$value.name}天平台VIP</font></p></dd>
    <dt class="t-r"><p class="hong bold">- {$value.score}积分</p>
        <p class="f3 hui">{$value.create_time|date="m-d H:i"}</p></dt>
</dl>
{/foreach}
<script>
    page.setcount({$count}, 'index');
</script>