<div class="bg-bai b rx3">
    <div class="t-v t-t">
        <div class="c-sidebar c-sidebar-h pb5 br">
            <div class="c-sidebar-title t-v hui bb">福利中心</div>
            <ul class="c-nav click-nav">
                <li class="active">
                    <a href="/other/sign.html" class="t-v" data-pjax>
                        <div><i class="icon icon-write"></i></div>
                        <div>每日签到</div>
                    </a>
                </li>
                <li>
                    <a href="/other/invite.html" class="t-v" data-pjax>
                        <div><i class="icon icon-present"></i></div>
                        <div>推广有礼</div>
                    </a>
                </li>
                <li>
                    <a href="/other/redeem.html" class="t-v" data-pjax>
                        <div><i class="icon icon-duijie"></i></div>
                        <div>积分兑换</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="c-content bl">
            <div class="col-6 fl br" style="min-height:420px;">
                <div class="g-title t-v pl4 bb">
                    <div class="col-12 h t-v bold">每日签到</div>
                </div>

                <div class="g-content o-h p5 f3 hui bb">
                    <p>每日签到有几率获取平台会员VIP，积分等奖励</p>
                    <p>中奖奖池如下，中奖几率为50,拼人品的时候到了！</p>
                    <p>
                        <span class="tag bg-qing f3">1天VIP</span>
                        <span class="tag bg-qing f3">7天VIP</span>
                        <span class="tag bg-qing f3">15天VIP</span>
                        <span class="tag bg-qing f3">5个积分</span>
                        <span class="tag bg-qing f3">30积分</span>
                        <span class="tag bg-qing f3">100个积分</span>
                    </p>
                </div>
                <div class="g-content h12 t-v bb">
                    <div class="col-6 h9 t-v t-c br">中奖会员：<font id="vipDay" class="f5 hong mr2">{$vipDay}</font>天</div>
                    <div class="col-6 h9 t-v t-c br">签到次数：<font id="signDay" class="f5 hong mr2">{$signDay}</font>天</div>
                    <div class="col-6 h9 t-v t-c">拥有积分：<font id="score" class="f5 hong mr2">{$score|default="0"}</font>个</div>
                </div>
                <div class="g-content t-c p5 pt10 qdhtmlbtn">
                    {if @$isSignSuccess}
                    <button class="btn btn-hui btn-md w22 rx1">今 日 已 签</button>
                    {else /}
                    <button class="btn btn-qing btn-md w22 rx1" onclick="sign();">点 此 签 到</button>
                    {/if}
                </div>
            </div>
            <div class="col-6 fl bl" style="margin-left:-1px;">
                <div class="g-title t-v pl4 bb">
                    <div class="col-12 h t-v bold">签到记录 <font class="ml5 f3 hui nobold">共有&nbsp;<span class="index_selcount">0</span>&nbsp;条&nbsp;/&nbsp;<span class="index_selpages">1</span>&nbsp;页</font>
                        <select class="f3 index_selpagenum hide" onchange="page.setnum(this,'page','index')">
                            <option value="0" selected="selected">10</option>
                        </select>
                    </div>
                </div>
                <div class="g-content in-list in-p in-b" id="qdlistbody"></div>
            </div>
        </div>
    </div>
    <div class="c-pagination o-h t-v">
        <div class="c-sidebar"></div>
        <div class="c-content h11 o-h g-btn t-v bt bl">
            <div class="col-6 h t-v f3 hui pl5 pr5"></div>
            <div class="col-6 h no g-btn g-minhide t-v t-c">
                <button class="btn btn-bai min" onclick="page.btn('first','index',index_page_html)">首页</button>
                <button class="btn btn-bai min syy" onclick="page.btn('up','index',index_page_html)">上一页</button>
                <div class="w16 t-c hui f4 bold">第 <span class="index_selpage">1</span> 页</div>
                <button class="btn btn-bai min xyy" onclick="page.btn('down','index',index_page_html)">下一页</button>
                <button class="btn btn-bai min" onclick="page.btn('final','index',index_page_html)">尾页</button>
            </div>
        </div>
    </div>
</div>
<script>
    function load_qdlist_html(l) {
        l = l || 0;
        var p = page.getpage();
        x.gethtml('/other/signLogHtml.html?page=' + p, 'qdlistbody', l);
    }

    $(function ($) {
        load_qdlist_html(2);
    });

    function index_page_html() {
        load_qdlist_html(0);
    }
    function sign(){
        x.loading();
        $.ajax({
            url: "/other/signAjax.html",
            type: "GET",
            datatype: "json",
            success: function (ret) {
                x.mclose();
                $(".qdhtmlbtn").html("<button class=\"btn btn-hui btn-md w22 rx1\">今 日 已 签</button>\n");
                load_qdlist_html(2);
                if (ret.code === 1){
                    x.btn('签到成功',ret.message);
                    $('#signDay').text(ret.data['signDay']);
                    $('#vipDay').text(ret.data['vipDay']);
                    $('#score').text(ret.data['score']);
                } else {
                    x.btn('签到失败', ret.message);
                }
            }
        });
    }
</script>