<style>.btnneiye > a {
    margin: 0.2rem auto;
}</style> <title>提示信息 - </title>
<div class="app-content w t-v t-c">
    <div class="p4 pb12 mb5">
        <div class="f20 bold"><i class="icon icon-{$icon|default="check lv"}"></i></div>
        <div class="mt4 f7 bold">{$title|default="支付成功"}</div>
        <div class="mt3">{$content|default="您的余额充值已到账，充值金额：0.1元"}</div>
        <div class="mt6 btnneiye">
            <a class="btn btn-sm w35 h7 btn-hui btn-1 rx3 bold" href="/user/index.html">用户首页</a>
            <br>
            <a class="btn btn-sm w35 h7 btn-hui btn-1 rx3 bold" href="javascript:location.reload();">刷新订单信息</a>
        </div>
    </div>
</div>