<style>
    .btnneiye > a + a {
        margin-left: 30px;
    }
</style>
<div class="bg-bai b rx3">
    <div class="p5 t-c">
        <div class="mt5 mb12">
            <div class="f17"><i class="icon icon-{$icon|default="check lv"}"></i></div>
            <div class="mt6 f7 bold">{$title|default="支付成功"}</div>
            <div class="mt5">{$content|default="您的余额充值已到账，充值金额：0.1元"}</div>
        </div>
        <hr>
        <div class="mt7 mb3 btnneiye">
            <a class="btn btn-md btn-cheng btn-1 rx1 bold" href="/user/index.html">用户首页</a>
            <a class="btn btn-md btn-cheng btn-1 rx1 bold" href="javascript:location.reload();">刷新订单信息</a>
        </div>
    </div>
</div>
