{foreach $list as $vo}
<dl>
    {if $vo.type == 1}
    <dd><p class="pl1 pr5">{$vo.name} ： <font class="lv bold">+ {$vo.score} 个</font></p></dd>
    {else/}
    <dd><p class="pl1 pr5">{$vo.name} ： <font class="hong bold">- {$vo.score} 个</font></p></dd>
    {/if}
    <dt class="t-r f2 hui">{$vo.create_time|date="m-d H:i"}</dt>
</dl>
{/foreach}

<script>
    {if $isLoadingSuccess}
    reBox['note_score'].endUpLoading(false);
    {else}
    loadpage['note_score']++;
    reBox['note_score'].endUpLoading(true);
    {/if}
</script>