<title>积分记录 - {:config('conf.title')}</title>
<div class="app-header t-v bg-bai dl2 bb"><span class="header-l t-v nowrap" onclick="x.mclose();"><i class="icon icon-pleft f9"></i>返回</span>
    <span class="header-c t-v t-c nowrap">积分记录</span>
    <span class="header-r t-v t-r dropdown">
        <div class="dropdown-menu wh t-v t-r"><i class="icon icon-more f10"></i></div>
        <dl class="dropdown-list header animated fadeInUp">
            <span class="arrowtop"></span>
            <dd><a class="p3 t-c" href="javascript:note_score.mode(0);">全部记录</a></dd>
            <dd><a class="p3 t-c" href="javascript:note_score.mode(1);"><font class="qing">增加记录</font></a></dd>
            <dd><a class="p3 t-c" href="javascript:note_score.mode(2);"><font class="hong">减少记录</font></a></dd>
        </dl>
        <dd class="dropdown-desc animated fadeIn">&nbsp;</dd>
    </span>
</div>
<div class="app-content note_score-refreshBox" id="note_score_param" type="0">
    <div>
        <div class="bg-bai in-list in-p in-b in-bb" id="note_score_html"></div>
    </div>
</div>
<script>
    var note_score = {
        html: function(l,m) {
            var type = $('#note_score_param').attr('type');
            x.gethtml('/user/scoreLogHtml.html?type='+type+'&page='+loadpage["note_score"],'note_score_html',l,m);
        },
        mode: function(type) {
            loadpage["note_score"] = 1;
            x.scroll('.app-content');
            $('#note_score_param').attr('type',type);
            $('#note_score_html').html("");
            reBox['note_score'].triggerUpLoading();
        }
    }

    $(function () {
        loadpage["note_score"] = 1;
        x.refreshBox("note_score", function () {
            note_score.html(1, 1);
        }, 1, 1);
    });

</script>