<title>快捷链接 - {:config('conf.title')}</title>
<div class="app-content">
    <div class="w h35"
         style="background-image: linear-gradient(hsl(204,60%,55%),hsl(204,60%,55%),hsla(204,60%,55%,0.9),hsla(204,60%,55%,0.6),hsla(204,60%,55%,0));">
        <div class="w h12 t-v t-c f10 bai bold"><i class="icon icon-tag f11 mr1"></i>快捷链接</div>
    </div>
    <div class="p4" style="margin-top:-2.7rem;">
        <div class="o-h rx5">
            <div class="in-list in-b bg-bai">
                <dl class="h14 in" onclick="mode_invite();">
                    <dt><p class="w11 t-c"><i class="icon icon-group f14 lan"></i></p></dt>
                    <dd><p class="f6 nowrap">推广有礼 <font class="ml2 f3 hong">[热门活动]</font></p>
                            <p class="f3 hui nowrap">邀请好友免费领平台VIP会员</p></dd>
                    <dt><p class="w5 f3 hui"><i class="icon icon-pright"></i></p></dt>
                </dl>
                <dl class="h14 in" onclick="mode_prove_query();">
                    <dt><p class="w11 t-c"><i class="icon icon-medal f14 hong"></i></p></dt>
                    <dd><p class="f6 nowrap">秒赞认证 <font class="ml2 f3 hong"></font></p>
                        <p class="f3 hui nowrap">查询QQ是否在{:config('conf.title')}开启秒赞功能</p></dd>
                    <dt><p class="w5 f3 hui"><i class="icon icon-pright"></i></p></dt>
                </dl>
                <dl class="h14 in" onclick="mode_wall();">
                    <dt><p class="w11 t-c"><i class="icon icon-cascades f14 cheng"></i></p></dt>
                    <dd><p class="f6 nowrap">QQ秒赞墙 <font class="ml2 f3 hong"></font></p>
                        <p class="f3 hui nowrap">展示站内最近更新状态的秒赞QQ号码</p></dd>
                    <dt><p class="w5 f3 hui"><i class="icon icon-pright"></i></p></dt>
                </dl>
            </div>
        </div>
    </div>
</div>