<title>邀请记录 - {:config('conf.title')}</title>
<div class="app-header t-v bg-bai dl2 bb"><span class="header-l t-v nowrap" onclick="x.mclose();"><i class="icon icon-pleft f9"></i>返回</span>
    <span class="header-c t-v t-c nowrap">{if $isMyLog}我的邀请{else /}邀请记录{/if}</span>
    <span class="header-r t-v t-r nowrap" onclick=""><i class="icon  f10"></i></span>
</div>
<div class="app-content note_qd-refreshBox" id="note_qd_param" mod="0">
    <div>
        <div class="bg-bai in-list in-p in-b in-bb" id="note_qd_html"></div>
    </div>
</div>
<script>

    var note_qd = {
        html: function (l, m) {
            x.gethtml('/other/inviteLogHtml.html?isMyLog={$isMyLog}&page=' + loadpage["note_qd"], 'note_qd_html', l, m);
        },
    }


    $(function () {
        loadpage["note_qd"] = 1;
        x.refreshBox("note_qd", function () {
            note_qd.html(1, 1);
        }, 1, 1);
    });

</script>