{foreach $list as $value}
{if $value.day == 1}
{php}
$sign = "签到";
{/php}
{else /}
{php}
$sign = "连签";
{/php}
{/if}
<dl>
    <dt><img class="w7 h7 b r5 mr2" src="//q4.qlogo.cn/headimg_dl?dst_uin={$value.qq}&spec=40"></dt>
    <dd>
        <p class="f3 hong"><i class="icon icon-my"></i> {$value.nickname}</p>
        {if $value.value != 0}
            {if $value.type == 1}
            <p class="f3 hui">{$sign}{$value.day}天获得了{$value.value}天秒赞VIP</p>
            {else /}
            <p class="f3 hui">{$sign}{$value.day}天获得了{$value.value}个积分</p>
            {/if}
        {else /}
            <p class="f3 hui">{$sign}{$value.day}天，未中奖</p>
        {/if}
    </dd>
    <dt class="t-r">
        {if $value.day == 1}
        <p class="lv bold">{$sign}{$value.day}天</p>
        {else /}
        <p class="lv bold">{$sign}{$value.day}天</p>
        {/if}
        <p class="f3 hui">{$value.sign_time|date="m-d H:i"}</p>
    </dt>
</dl>
{/foreach}
<script>
    loadpage['note_qd']++;
    {if $isLoadingSuccess}
    reBox['note_qd'].endUpLoading(false);
    {else /}
    reBox['note_qd'].endUpLoading(true);
    {/if}
</script>