<title>CQY聊天室 - {:config('conf.title')}</title>
<div class="app-header t-v bg-bai dl2 bb">
    <span class="header-l t-v nowrap" onclick="x.mclose();"><i class="icon icon-pleft f9"></i>返回</span>
    <span class="header-c t-v t-c nowrap">CQY聊天室</span>
<!--    <span class="header-r t-v t-r nowrap" onclick="x.mode('/user/qun')"><i class="icon icon-group f10"></i></span>-->
</div><div class="app-content mode-b9 chatscrool bg-bai dk">
    <div class="in-list top" id="chatheight" onclick="$('#chatcon').blur();">
        {foreach $list as $vo}

        {php}
        $info = getVipLevel($vo['vip_start_time'],$vo['vip_end_time'],$vo['agent']);
        $font = $info['chat_color_m'];

        if ($info['title'] != "已过期"){
            $level ='<span class="bg-lan pl1 pr1 rx1 mr1">';
            $level .= $info['title'];
            $level .='</span>';
            $nickname_font = "hong bold";
        } else {
            $level = "";
            $nickname_font = "";
        }
        {/php}

        {if $vo['qq'] != session('user.qq')}
        <dl class="w pt2 pb3">
            <dt>
                <p class="w10 t-c">
                    <img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin={$vo['qq']}&spec=40">
                </p>
            </dt>
            <dd>
                <p class="f2">
                    {$level|raw}
                    <font class="{$nickname_font}">{$vo['nickname']}</font>
                </p>
                <p><span class="inline bg-{$info['chat_color_m']} dl2 p2 rx3">{$vo['content']}</span></p>
            </dd>
            <dt><p class="w10"></p></dt>
        </dl>
        {else}
        <dl class="pt2 pb3">
            <dt>
                <p class="w10"></p>
            </dt>
            <dd class="t-r">
                <p class="f2">
                    {$level|raw}
                    <font class="hong bold">{$vo['nickname']}</font>
                </p>
                <p><span class="inline bg-{$info['chat_color_m']} p2 rx3">{$vo['content']}</span></p>
            </dd>
            <dt>
                <p class="w10 t-c">
                    <img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin={$vo['qq']}&spec=40">
                </p>
            </dt>
        </dl>
        {/if}
        {/foreach}
    </div>
</div>
<div class="mode-footer w h9 in-text">
    <form action="" onsubmit="return false;">
        <dd><input type="text" class="form w h9 pt0 pb0 r0 b0" id="chatcon" placeholder="请在此输入聊天内容（禁止发广告）" value="" maxlength="64"></dd>
        <dt><button class="btn btn-qing btn-md w13 h9 r0 b0" onclick="ajax_post_chat();">发 送</button></dt>
    </form>
</div>
<script>

    token = "{:session('user.openid')}";
    qq = "{:session('user.qq')}";
    if (typeof socket === "object"){
        socket.emit("leave",{"token":token})
        socket.close();
    }
    socket = io("{:config('conf.wss')}", {transports: ['websocket']});
    socket.emit("join",{"token":token})

    // socket.emit("chat", {"content": "我是内容", "token":token})

    socket.on('ChatCallback', data => {

        if (data.user.level){
            level = '<span class="bg-lan pl1 pr1 rx1 mr1">' + data.user.level + '</span>';
            font = "hong bold"
        } else {
            level = "";
            font = "";
        }
        $("#chatheight").append(
            "        <dl class=\"pt2 pb3\">\n" +
            "            <dt>\n" +
            "                <p class=\"w10\"></p>\n" +
            "            </dt>\n" +
            "            <dd class=\"t-r\">\n" +
            "                <p class=\"f2\">\n" +
            "                    "+level+"\n" +
            "                    <font class=\"" + font + "\">" + data.user.nickname + "</font>\n" +
            "                </p>\n" +
            "                <p><span class=\"inline bg-" + data.user.color_m + " p2 rx3\">" + data.message + "</span></p>\n" +
            "            </dd>\n" +
            "            <dt>\n" +
            "                <p class=\"w10 t-c\">\n" +
            "                    <img class=\"w7 h7 b r5\" src=\"//q4.qlogo.cn/headimg_dl?dst_uin=" + data.user.qq + "&spec=40\">\n" +
            "                </p>\n" +
            "            </dt>\n" +
            "        </dl>"
        );
        ChatScroolToEnd();
        $("#chatcon").val("");
    });
    socket.on('SysChatCallback', data => {
        if (data.user.level){
            level = '<span class="bg-lan pl1 pr1 rx1 mr1">' + data.user.level + '</span>';
            font = "hong bold"
        } else {
            level = "";
            font = "";
        }
        if (data.user.qq === qq){
            //对应ChatCallback事件
            //场景PC Mobile同时打开聊天室PC发送消息
            $("#chatheight").append(
                "        <dl class=\"pt2 pb3\">\n" +
                "            <dt>\n" +
                "                <p class=\"w10\"></p>\n" +
                "            </dt>\n" +
                "            <dd class=\"t-r\">\n" +
                "                <p class=\"f2\">\n" +
                "                    "+level+"\n" +
                "                    <font class=\"" + font + "\">" + data.user.nickname + "</font>\n" +
                "                </p>\n" +
                "                <p><span class=\"inline bg-" + data.user.color_m + " p2 rx3\">" + data.message + "</span></p>\n" +
                "            </dd>\n" +
                "            <dt>\n" +
                "                <p class=\"w10 t-c\">\n" +
                "                    <img class=\"w7 h7 b r5\" src=\"//q4.qlogo.cn/headimg_dl?dst_uin=" + data.user.qq + "&spec=40\">\n" +
                "                </p>\n" +
                "            </dt>\n" +
                "        </dl>"
            );
        } else {
            $("#chatheight").append(
                "        <dl class=\"w pt2 pb3\">\n" +
                "            <dt>\n" +
                "                <p class=\"w10 t-c\">\n" +
                "                    <img class=\"w7 h7 b r5\" src=\"//q4.qlogo.cn/headimg_dl?dst_uin=" + data.user.qq + "&spec=40\">\n" +
                "                </p>\n" +
                "            </dt>\n" +
                "            <dd>\n" +
                "                <p class=\"f2\">\n" +
                "                    "+level+"\n" +
                "                    <font class=\"" + font + "\">" + data.user.nickname + "</font>\n" +
                "                </p>\n" +
                "                <p><span class=\"inline bg-" + data.user.color_m + " dl2 p2 rx3\">" + data.message + "</span></p>\n" +
                "            </dd>\n" +
                "            <dt><p class=\"w10\"></p></dt>\n" +
                "        </dl>"
            );
        }

        ChatScroolToEnd();
    });
    socket.on('SystemCallback', data => {
        //系统消息
        console.log("系统消息:" + data.message);
        $("#chatheight").append('<dl class="t-c pt2 pb3"><span class="inline bg-lan p2 rx3">' + data.message + '</span><dl>');
        ChatScroolToEnd();
    });


    function ChatScroolToEnd() {
        var h = $("#chatheight").height()-$(".chatscrool").height(); // 获取总共需要滚动的距离
        var t = h-$(".chatscrool").scrollTop();
        if(t>1500){
            $(".chatscrool").scrollTop(h);
        }else if(h>0){
            x.scroll('.chatscrool',h,t+100);
        }
    }

    $(function() {
        ChatScroolToEnd();  // 聊天框滚动条
        if($("#chatheight").length<0){
            x.gethtml('/chat/index','chatheight',1,1,'CQY聊天室加载失败，请点击此处刷新重试');
        }
    });

    function ajax_post_chat(){
        var chatcon = x.getval('#chatcon','请先输入内容!'); if(!chatcon)return;
        xhr.abort();
        _sys_cleartime();
        $('#chatcon').focus().val("");
        socket.emit("chat", {"content": chatcon, "token":token})
    }

</script>