<title>CQY聊天室 - 小柯秒赞</title>
<div class="app-header t-v bg-bai dl2 bb">
    <span class="header-l t-v nowrap" onclick="x.mclose();"><i class="icon icon-pleft f9"></i>返回</span>
    <span class="header-c t-v t-c nowrap">CQY聊天室</span>
    <span class="header-r t-v t-r nowrap" onclick="x.mode('/user/qun')"><i class="icon icon-group f10"></i></span>
</div><div class="app-content mode-b9 chatscrool bg-bai dk">
    <div class="in-list top" id="chatheight" onclick="$('#chatcon').blur();">
        <dl class="w pt2 pb3">
            <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=2859446512&spec=40"></p></dt>
            <dd>
                <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">银牌代理</span><font class="hong bold">槿柒</font></p>
                <p><span class="inline bg-huang dl2 p2 rx3">扩列</span></p>
            </dd>
            <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=1083735215&spec=40"></p></dt>
        <dd>
            <p class="f2"><font class="">国警&#39;39&#39;naa</font></p>
            <p><span class="inline bg-bai p2 rx3">mz+1083735215</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=982982101&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">钻石代理</span><font class="hong bold">囍樂</font></p>
            <p><span class="inline bg-huang dl2 p2 rx3">Mz+982982101</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=318341906&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">年费VIP</span><font class="hong bold">066</font></p>
            <p><span class="inline bg-fen dl2 p2 rx3">3558124063遇到就是缘分鸭</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=2794603255&spec=40"></p></dt>
        <dd>
            <p class="f2"><font class="">　</font></p>
            <p><span class="inline bg-bai p2 rx3">扩列2794603255</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=85616120&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">永久VIP</span><font class="hong bold">Pluto</font></p>
            <p><span class="inline bg-zi dl2 p2 rx3">秒赞的QQ加速和我爱代挂的QQ加速有什么区别？</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=389952383&spec=40"></p></dt>
        <dd>
            <p class="f2"><font class="">&#82;&#101;&#46;</font></p>
            <p><span class="inline bg-bai p2 rx3">389952383</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=1802878380&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">年费VIP</span><font class="hong bold">1802878380</font></p>
            <p><span class="inline bg-fen dl2 p2 rx3">1802878380可蹭赞干净来</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=3441541084&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">包季VIP</span><font class="hong bold">装纯给鬼看△</font></p>
            <p><span class="inline bg-lan dl2 p2 rx3">哈喽</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=3441541084&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">包季VIP</span><font class="hong bold">装纯给鬼看△</font></p>
            <p><span class="inline bg-lan dl2 p2 rx3">我新来的</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=3441541084&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">包季VIP</span><font class="hong bold">装纯给鬼看△</font></p>
            <p><span class="inline bg-lan dl2 p2 rx3">为什么我看不到你们发消息的时间</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=3441541084&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">包季VIP</span><font class="hong bold">装纯给鬼看△</font></p>
            <p><span class="inline bg-lan dl2 p2 rx3"></span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=1944066705&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">永久VIP</span><font class="hong bold">道了句晚安</font></p>
            <p><span class="inline bg-zi dl2 p2 rx3">1944066705</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=2376255199&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">体验VIP</span><font class="">　</font></p>
            <p><span class="inline bg-bai p2 rx3">扩列</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=2376255199&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">体验VIP</span><font class="">　</font></p>
            <p><span class="inline bg-bai p2 rx3">2376255199</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=2934995060&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">年费VIP</span><font class="hong bold">2213990379</font></p>
            <p><span class="inline bg-fen dl2 p2 rx3">mz+2213990379</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=942087116&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">包季VIP</span><font class="hong bold">小甜</font></p>
            <p><span class="inline bg-lan dl2 p2 rx3">942087116</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=1742551451&spec=40"></p></dt>
        <dd>
            <p class="f2"><font class="">澈</font></p>
            <p><span class="inline bg-bai p2 rx3">1742551451</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=290032112&spec=40"></p></dt>
        <dd>
            <p class="f2"><font class="">养樂多.</font></p>
            <p><span class="inline bg-bai p2 rx3">nss290032112</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=290032112&spec=40"></p></dt>
        <dd>
            <p class="f2"><font class="">养樂多.</font></p>
            <p><span class="inline bg-bai p2 rx3">全天mz</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=3511634929&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">永久VIP</span><font class="hong bold">高质量秒赞</font></p>
            <p><span class="inline bg-zi dl2 p2 rx3">3511634929高冷别加我</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=2648075353&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">包月VIP</span><font class="hong bold">安好</font></p>
            <p><span class="inline bg-lan dl2 p2 rx3">互赞</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=2648075353&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">包月VIP</span><font class="hong bold">安好</font></p>
            <p><span class="inline bg-lan dl2 p2 rx3">2648075353</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=3395145799&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">体验VIP</span><font class="">祺为吉祥之意.</font></p>
            <p><span class="inline bg-bai p2 rx3">秒赞3395145799</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=1252696&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">钻石代理</span><font class="hong bold">自由人</font></p>
            <p><span class="inline bg-huang dl2 p2 rx3">钻石代理稳定中 776610686</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=1354472098&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">体验VIP</span><font class="">&#37257;&#26216;&#33394;&#46;</font></p>
            <p><span class="inline bg-bai p2 rx3">秒赞1354472098</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=925232325&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">钻石代理</span><font class="hong bold">苏g</font></p>
            <p><span class="inline bg-huang dl2 p2 rx3">mz+925232325</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=501742717&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">银牌代理</span><font class="hong bold">SMH</font></p>
            <p><span class="inline bg-huang dl2 p2 rx3">501742717 Mz+</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=2152522439&spec=40"></p></dt>
        <dd>
            <p class="f2"><font class="">爸爸</font></p>
            <p><span class="inline bg-bai p2 rx3">2152522439。 mz+</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=2152522439&spec=40"></p></dt>
        <dd>
            <p class="f2"><font class="">爸爸</font></p>
            <p><span class="inline bg-bai p2 rx3">虽然你们搜不到</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=1802878380&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">年费VIP</span><font class="hong bold">1802878380</font></p>
            <p><span class="inline bg-fen dl2 p2 rx3">1802878380可蹭赞干净来</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=319556693&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">包季VIP</span><font class="hong bold">&#32;&#12288;&#12288;&#12288;&#12288;</font></p>
            <p><span class="inline bg-lan dl2 p2 rx3">mz+319556693拒mp 蹭赞别加 禁赞别加</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=3152213700&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">体验VIP</span><font class="">IU</font></p>
            <p><span class="inline bg-bai p2 rx3">1776467958mz+</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=1354472098&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">体验VIP</span><font class="">&#37257;&#26216;&#33394;&#46;</font></p>
            <p><span class="inline bg-bai p2 rx3">1354472098秒赞＋</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=935449427&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">包季VIP</span><font class="hong bold">子奈</font></p>
            <p><span class="inline bg-lan dl2 p2 rx3">mz+3371711550  mz不mp，蹭赞绕道，有验证</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=2550321659&spec=40"></p></dt>
        <dd>
            <p class="f2"><font class="">和星星谈笑。</font></p>
            <p><span class="inline bg-bai p2 rx3">2550321659mz+</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=1802878380&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">年费VIP</span><font class="hong bold">1802878380</font></p>
            <p><span class="inline bg-fen dl2 p2 rx3">1802878380可蹭赞干净来</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=3200853025&spec=40"></p></dt>
        <dd>
            <p class="f2"><font class="">池么</font></p>
            <p><span class="inline bg-bai p2 rx3">3200853025mz不mp  不拒mp</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=1944066705&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">永久VIP</span><font class="hong bold">道了句晚安</font></p>
            <p><span class="inline bg-zi dl2 p2 rx3">1944066705</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=2560315634&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">年费VIP</span><font class="hong bold">憨憨</font></p>
            <p><span class="inline bg-fen dl2 p2 rx3">2560315634</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=2560315634&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">年费VIP</span><font class="hong bold">憨憨</font></p>
            <p><span class="inline bg-fen dl2 p2 rx3">mz，拒mp</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=2939581814&spec=40"></p></dt>
        <dd>
            <p class="f2"><font class="">情久终腻</font></p>
            <p><span class="inline bg-bai p2 rx3">29395814</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=2939581814&spec=40"></p></dt>
        <dd>
            <p class="f2"><font class="">情久终腻</font></p>
            <p><span class="inline bg-bai p2 rx3">2939581814</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=821063219&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">银牌代理</span><font class="hong bold">阿希</font></p>
            <p><span class="inline bg-huang dl2 p2 rx3">821063888</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=6639351&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">包季VIP</span><font class="hong bold">7</font></p>
            <p><span class="inline bg-lan dl2 p2 rx3">mz+6639351</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=81352791&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">银牌代理</span><font class="hong bold">林夕</font></p>
            <p><span class="inline bg-huang dl2 p2 rx3">81352791拒mp</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=916379911&spec=40"></p></dt>
        <dd>
            <p class="f2"><font class="">感伤馆（mzmp＋）</font></p>
            <p><span class="inline bg-bai p2 rx3">916379911</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=916379911&spec=40"></p></dt>
        <dd>
            <p class="f2"><font class="">感伤馆（mzmp＋）</font></p>
            <p><span class="inline bg-bai p2 rx3">mzmp</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=3043398058&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">银牌代理</span><font class="hong bold">　</font></p>
            <p><span class="inline bg-huang dl2 p2 rx3">2043518715</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl><dl class="w pt2 pb3">
        <dt><p class="w10 t-c"><img class="w7 h7 b r5" src="//q4.qlogo.cn/headimg_dl?dst_uin=1746119846&spec=40"></p></dt>
        <dd>
            <p class="f2"><span class="bg-lan pl1 pr1 rx1 mr1">体验VIP</span><font class="">Fantastic baby</font></p>
            <p><span class="inline bg-bai p2 rx3">1746119846 mz+</span></p>
        </dd>
        <dt><p class="w10"></p></dt>            </dl>    </div>
</div>
<div class="mode-footer w h9 in-text">
    <form action="" onsubmit="return false;">
        <dd><input type="text" class="form w h9 pt0 pb0 r0 b0" id="chatcon" placeholder="请在此输入聊天内容（禁止发广告）" value="" maxlength="64"></dd>
        <dt><button class="btn btn-qing btn-md w13 h9 r0 b0" onclick="ajax_post_chat();">发 送</button></dt>
    </form>
</div>
<script>
    ChatTime='1601899262098';
    function ChatScroolToEnd() {
        var h = $("#chatheight").height()-$(".chatscrool").height(); // 获取总共需要滚动的距离
        var t = h-$(".chatscrool").scrollTop();
        if(t>1500){
            $(".chatscrool").scrollTop(h);
        }else if(h>0){
            x.scroll('.chatscrool',h,t+100);
        }
    }
    function LoadChatList(l) {
        if($("#chatheight").length>0){
            x.gethtml('/chat/index?time='+ChatTime,'chatheight',l,1,'CQY聊天室加载失败，请点击此处刷新重试');
        }else{
            _sys_cleartime();
        }
    }
    $(function() {
        ChatScroolToEnd();  // 聊天框滚动条
        ChatTimeID=setTimeout(function(){LoadChatList(1);},5000);
    });

    function ajax_post_chat(){
        var chatcon = x.getval('#chatcon','请先输入内容!'); if(!chatcon)return;
        xhr.abort();
        _sys_cleartime();
        $('#chatcon').focus().val("");
        x.ajax('/chat/submit','act=add&chattime='+ChatTime+'&chatcon='+encodeURIComponent(trim(chatcon)));
    }

</script>