<div class="app-header bg-dlan dk t-v">
    <span class="header-l t-v br b2 b-hei-a nowrap" onclick="x.mclose();"><i class="icon icon-pleft f9"></i>返回</span>
    <span class="w20 h8 t-v t-c pr1 br b2 b-hei-a" onclick="getTaskList('{$uin}');"><i class="icon icon-add mr1"></i>添加功能</span>

    <span class="dropdown br b2 b-hei-a">
        <div class="dropdown-menu w20 h8 t-v t-c"><span>互刷工具</span>
            <span class="caret"></span>
        </div>
        <dl class="dropdown-list left animated fadeInUp">
        <span class="arrowtop"></span>
            <!--            <dd><a class="p3 t-c no" href="javascript:x.btn('功能维护','QQ小工具功能维护中，暂时无法使用');"><i class="icon icon-footprint mr1"></i>QQ工具</a></dd>-->
<!--            <dd><a class="p3 t-c no" onclick="mode_tools_mpz('{$uin}');"><i class="icon icon-appreciate mr1"></i>ＱＱ名片</a></dd>-->
            <dd><a class="p3 t-c no" onclick="x.btn('名片赞维护中');"><i class="icon icon-appreciate mr1"></i>ＱＱ名片</a></dd>
            <dd><a class="p3 t-c no" onclick="mode_tools_shuo('{$uin}');"><i class="icon icon-appreciate mr1"></i>说说点赞</a></dd>
            <dd><a class="p3 t-c no" onclick="mode_tools_comment('{$uin}');"><i class="icon icon-mark mr1"></i>说说队形</a></dd>
            <dd><a class="p3 t-c no" onclick="mode_tools_visit('{$uin}');"><i class="icon icon-hot mr1"></i>空间访客</a></dd>
        </dl>
        <dd class="dropdown-desc animated fadeIn">&nbsp;</dd>
    </span>

    <span class="dropdown br b2 b-hei-a">
        <div class="dropdown-menu w20 h8 t-v t-c"><span>更多操作</span>
            <span class="caret"></span>
        </div>
        <dl class="dropdown-list left animated fadeInUp">
        <span class="arrowtop"></span>
            <dd><a class="p3 t-c no" onclick="mode_prove('{$uin}');"><i class="icon icon-medal mr1"></i>秒赞认证</a></dd>
            <dd><a class="p3 t-c no" onclick="mode_qq_add('{$uin}');"><i class="icon icon-update mr1"></i>更新QQ</a></dd>
            <dd><a class="p3 t-c no" onclick="ajax_qq_del('{$uin}');"><i class="icon icon-delete mr1"></i>删除QQ</a></dd>
        </dl>
        <dd class="dropdown-desc animated fadeIn">&nbsp;</dd>
    </span>
</div>
<div class="app-content">
    <div class="bg-bai in-text h19 bb">
        <dt class="pl3 pr3"><img src="//q4.qlogo.cn/headimg_dl?dst_uin={$uin}&spec=100" class="b b-hui r5 w12 h12" style="border-width:0.04rem !important;"/></dt>
        <dd class="pr3"><p class="f3 hui">{$nickname}</p>
            <h4 class="t-v">{$uin}
            {if condition="!$status"}
            <font class="hong ml2 f5"><i class="icon icon-squarecheck mr1"></i>失效</font>
            <button class="btn btn-qing btn-xs ml1 rx2" onclick="mode_qq_add('{$uin}');">点此更新</button>
            </h4>
            {else}
            <font class="lv ml2 f5"><i class="icon icon-squarecheck mr1"></i>正常</font>
            </h4>
            {/if}
            <p class="f2 hui mt1">状态若显示失效请及时更新防止功能不运行</p>
        </dd>
    </div>
    <div class="bg-bai in-list in-b bb f4">
        {foreach :getTask() as $tasks}
        {foreach $task as $vo}
        {if $vo.type == $tasks.id}
        <dl class="h12" id="is{$tasks.id}"><a class="in" href="javascript:void(0);" onclick="setTask_footer('{$tasks.id}','{$tasks.tip}',1);">
            <dt><img class="w7 h7 ml2 mr2" src="/static/img/is{$tasks.id}.png"></dt>
            <dt><p class="dzi bold"><i class="icon icon-dian {if $vo.status == 1}lv{else/}hong{/if}"></i> {$tasks.name}</p>
                <p class="f2 hui" style="padding-left:0.02rem;"><i class="icon icon-time nobold" style="margin-right:0.03rem;"></i> {$vo.last_time|date="m-d H:i"}</p>
            </dt>
<!--            <dd class="pl2 pr2 f1 hui dl t-r">今日已运行0次</dd>-->
            <dd class="pl2 pr2 f1 hui dl t-r"></dd>
        </a>
            <dt class="pl3 pr3">
                <label class="i-switch i-switch-lg bg-lan" onclick="setTask('{$uin}','{$tasks.id}');">
                    <input type="checkbox" {if $vo.status == 1}checked="checked"{/if} disabled> <i></i>
                </label>
            </dt>
        </dl>
        {/if}
        {/foreach}
        {/foreach}
    </div>
</div>
{if condition="!$pwd"}
<script>
    layer.open({
        content: '<div><h4 class="mt0 mb5">请补充密码</h4></div><div>您使用扫码添加的QQ，请补充QQ密码<br><font class="f3 hui">补充密码后，当QQ状态失效时，系统会自动更新</font></div>',
        btn: ['好 的', '取 消'],
        shadeClose: false,
        yes: function (i) {
            x.mclose(i);
            x.mode('/qlist/setPwdHtml.html?uin={$uin}', 'set_pwd');
        },
        no: function (i) {
            x.mclose(i);
        }
    });
</script>
{/if}
<script>
    function setTask_footer(xm, msg, mod) {
        var htmlcon = '';
        htmlcon += '<li><p class="p3 f3 hui">' + msg + '</p></li>';
        if (xm === 'zan' || xm === 'qunqd' || xm === 'qipao') {
            htmlcon += '<li><p class="p3 lan bt b-hui footer in" onclick="x.mclose();x.mode(\'/task/setTask.html?uin={$uin}&type=' + xm + '\',\'gnset' + xm + '\');">功能设置</p></li>';
        }
        if (xm !== 'auto') {
            htmlcon += '<li><p class="p3 lan bt b-hui footer in" onclick="x.mclose();runTask({$uin},\'' + xm + '\');">手动执行</p></li>';
            htmlcon += '<li><p class="p3 hong bt b-hui footer in" onclick="x.mclose();x.del(\'/task/delTask.html\',\'uin={$uin}&type=' + xm + '\');">删除功能</p></li>';
        }
        // if (xm != 'auto' && xm != 'zan' && xm != 'reply') {
        //     htmlcon += '<li><p class="p3 hong bt b-hui footer in" onclick="x.mclose();x.del(\'/ajax/user/gnset\',\'act=del&qid=&xm=' + xm + '\');">删除功能</p></li>';
        // }
        x.footer(htmlcon);
    }
    function getTaskList(uin){
        x.mode('/task/getTaskList?uin=' + uin,'','taskList');
    }
    function runTask(uin,type){
        x.mode('/task/runTask.html?type=' + type + '&uin=' + uin, 'runTask');
    }
    function setTask(uin,type){
        if (type === 'zan' || type === 'qunqd'){
            x.mode('/task/setTask.html?uin=' + uin + '&type=' + type, 'setTask');
        } else if(type === 'auto' ) {
            x.btn('状态更新无法关闭','本站已为所有用户开启了打码更新功能<br>保障您的QQ在线状态一直处于正常在线');
        } else {
            if ($("#is" +  type+ " input").prop("checked") === true){
                x.ajax('/task/setTaskData.html','uin=' + uin + '&type=' + type + '&status=' + 0);
            } else {
                x.ajax('/task/setTaskData.html','uin=' + uin + '&type=' + type + '&status=' + 1);
            }
        }
    }
</script>