<title>添加更多功能</title>
<div class="in-list in-b">
    {foreach :getTask() as $tasks}
    {if array_key_exists($tasks.id, $task)}
    <dl>
        <a class="in p4" href="javascript:;" onclick="x.msg('此功能已经添加在列表中');">
            <dt><img class="w7 h7 ml2 mr4" src="/static/img/is{$tasks.id}.png"></dt>
            <dd><p class="pr5">添加 {$tasks.title} 功能<span class="ml4">[{if $tasks.vip == true}<font class="hong">vip</font>{else}<font class="f3 lv">免费</font>{/if}]</span></p></dd>
            <dt><span class="pr3 f3 lv {$tasks.id}access">已添加</span></dt>
            <dt><i class="icon icon-pright hui"></i></dt>
        </a>
    </dl>
    {else}
    <dl>
        <a class="in p4" href="javascript:;" onclick="x.ajax('/task/addTask.html','type={$tasks.id}&uin={$uin}');">
            <dt><img class="w7 h7 ml2 mr4" src="/static/img/is{$tasks.id}.png"></dt>
            <dd><p class="pr5">添加 {$tasks.title} 功能<span class="ml4">[{if $tasks.vip == true}<font class="hong">vip</font>{else}<font class="f3 lv">免费</font>{/if}]</span></p></dd>
            <dt><span class="pr3 f3 lv {$tasks.id}access"></span></dt>
            <dt><i class="icon icon-pright hui"></i></dt>
        </a>
    </dl>
    {/if}
    {/foreach}
</div>