<title>百变气泡 设置</title>
<div class="p5">
    <div class="lan bold">[24H自动] 随机变换QQ聊天气泡</div>
    <div class="mt2 f3 hui">系统会每隔5秒自动变换一次您的QQ聊天气泡，建议不要长时间开启，会导致更换频繁限制的</div>
    <hr/>
    <div class="pt2 pb2 in-text bold">
        <dt class="f4 pr5">功能开关</dt>
        <dd><label class="i-checks"><input type="radio" name="status" value="0" {if $status == 0}checked{/if}><i></i>关闭</label> <label
                class="i-checks ml4"><input type="radio" name="status" value="1" {if $status == 1}checked{/if}><i></i>开启</label></dd>
    </div>
    <hr/>
    <div class="pt3 pb3 in-text bold">
        <dt class="f4 pr5">气泡类型</dt>
        <dd>
            <label class="i-checks"><input type="radio" name="mode" value="0" {if $data.mode == 0}checked{/if}><i></i>免费气泡</label>
            <label class="i-checks ml4"><input type="radio" name="mode" value="1" {if $data.mode == 1}checked{/if}><i></i>VIP气泡</label>
            <label class="i-checks ml4"><input type="radio" name="mode" value="2" {if $data.mode == 2}checked{/if}><i></i>SVIP气泡</label>
        </dd>
    </div>
    <div class="pb3 f3 hui">请根据自己的QQ会员类型选择对应的气泡，不是QQ会员选择VIP或SVIP气泡会无效</div>
    <div class="pt6 pb4">
        <button class="btn btn-dlan btn-md btn-block rx1" onclick="ajax_gnset_qp();">保 存 设 置</button>
    </div>
</div>
<script type="text/javascript">
    function ajax_gnset_qp() {
        var status = $('input[name="status"]:checked').val();
        var mode = $('input[name="mode"]:checked').val();
        x.ajax('/task/setTaskData.html', 'type=qipao&uin={$uin}&status='+ status + '&mode=' + mode, 1);
    }
</script>